<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spotify Authorization</title>
</head>
<body>
    <h1>Authorize Spotify</h1>
    <a href="https://accounts.spotify.com/authorize?response_type=code&client_id=5407454921604f2aa66ba0d429f84e3c&redirect_uri=http://localhost:3000/callback&scope=user-read-currently-playing">Authorize</a>
</body>
</html>
